button.grid-cell {
    width: 60px;
    height: 60px;
    border: 0;
    margin: 1px;
    opacity: 0.75;
    font-weight: bold;
    font-size: 1.3em;
}

button.grid-cell:hover {
    opacity: 1;
}

button.selected {
    border: 4px solid red;
}

button.in-progress {
    border: 4px dotted blue;
}

button.cursor {
    border: 4px solid blue;
    box-shadow: 0 0 10px #9ecaed;
}


body {
    background-color: #fff9f2;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.app-main {
    /* https://www.w3.org/Style/Examples/007/center.en.html */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.score {
    width: 100%;
    font-weight: bold;
    font-size: 2.25rem;
    color: #333;
    text-align: center;
}

.app-header {
    display: flex;
    padding: 15px 2px;
}

#shuffle-button {
    background-color: #ccc;
    border: none;
    padding: 10px 13px;
    font-size: 1.75rem;
    border-radius: 5px;
}

#shuffle-button:hover {
    background-color: #aaa;
}



/* from districtr (src/colors.js) */
.dist-1 {
    background-color: #0099cd;
}
.dist-2 {
    background-color: #ffca5d; 
}
.dist-3 {
    background-color: #00cd99;
}
.dist-4 {
    background-color: #99cd00;
}
.dist-5 {
    background-color: /*#cd0099;*/  #fb8072;
}
.dist-6 {
    background-color: /*#9900cd;*/ #80b1d3;
}
.dist-7 {
    background-color: #8dd3c7;
}
.dist-8 {
    background-color: #bebada;
}
.dist-9 {
    background-color: #fb8072;
}
.dist-10 {
    background-color: #80b1d3;
}
.dist-11 {
    background-color: #fdb462;
}
.dist-12 {
    background-color: #b3de69;
}
.dist-13 {
    background-color: #fccde5;
}
.dist-14 {
    background-color: #bc80bd;
}
.dist-15 {
    background-color: #ccebc5;
}
.dist-16 {
    background-color: #ffed6f;
}
.dist-17 {
    background-color: #ffffb3;
}
.dist-18 {
    background-color: #a6cee3;
}
.dist-19 {
    background-color: #1f78b4;
}
.dist-20 {
    background-color: #b2df8a;
}
